body {
    background-color: 	rgb(228, 87, 21);
        font-family:'Gill Sans', 'Gill Sans M T', Calibri, 'Trebuchet MS', sans-serif
    }
    
    h1{
        color: rgb(15, 15, 15);
    }
    th{
        background-color: 	 #ddbe0d;
    }
    table{
        margin-left: 420px;
        background-color: rgb(202, 96, 9)
    }
    img{
    margin:15px 15px 15px 15px;
    }
    titulo1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 50px;
            color: rgb(231, 247, 6);
            text-align: center;                                       
    }
